body {
    margin-top: 20px;
    font-family: 'Poppins', 'sans-serif' ;

}

.container{
    margin-bottom: 40px;
}

.img1{
    background-image: url(images/bg-1.png);
    background-repeat: no-repeat;
}

.text1{
    color: gray;
}


.buy-now{
    border: 10px solid rgb(8, 8, 8);
    border-radius: 5px;
    background-color: black;
    color:white;
}

.see-all{
    color: orange;
}

.smartphone{
    text-align: center;
}

.smartphone img{
    padding: 10px;
}

.card{
    box-shadow: 0 0 15px 5px rgba(125, 125, 126, 0.226);
}

.categories{
    text-align: center;

}

.one{
    
    height:10px;
    background-image: linear-gradient(90deg, rgb(255, 230, 183), rgb(194, 197, 0));
    border: 0px solid black;
    border-radius: 5px;
}

.section{
    border: 5px solid black;
}

.section1{
    border:5px solid blue;
}
.section2{ 
    border: 5px solid orange;
}
.section img{
    width: 100%;
}

.pic img{
    width: 100%;
}

.pic1{
    /* border: 5px solid black; */
    text-align: center;
    padding: 20%;
    margin: 5%;
    border-radius: 15px 0px 15px 0px;
    box-shadow: 0 0 15px 5px rgba(125, 125, 126, 0.151);
    
    
}


.pic1 img{
    width: 100%;
}



